/*<link rel="stylesheet" href="styles.cc /"> */

/*CSS Version 1*/
html {
  height: 100vh;

  background-image: url(img/dragonHackerC.png.jpg);
  background-size: contain;
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  background-color: rgba(255, 182, 193, 0.95);
  color: black;
  border-radius: 2rem;
  margin: 0;
}
body {
  font-family: "Arial", sans-serif;
  margin: 20px;
  height: 50%;
  z-index: 50%;
}
h1 {
  width: 100%;
  text-align: center;
  color: rgba(9, 3, 14, 0.785);
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#category-selection {
  margin-top: 20px;
}

button {
  margin: 0.2rem;
  font-weight: bold;
  color: rgb(18, 18, 17);
}

.flashcard {
  padding: 2%;
  margin: 0;
  color: rgb(12, 4, 14);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#flashcard-container {
  margin-top: 0.25rem;
  height: 11rem;
  width: 100%;
  background-color: rgb(250 250 250 /50%);
  border: 2% solid #cccccc;
  border-radius: 5px;
}

.navigation {
  display: flex;
  background-color: none;

  position: absolute;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 1rem 0rem 1rem;
}
#html5 {
  width: 1.5rem;
  height: 2rem;
  margin-left: 3rem;
  margin-top: 0.15rem;
  margin-bottom: 0.2rem;
  background-color: none;
  border-radius: 0.5rem 0.2rem 1rem;
}
#css3 {
  width: 1.5rem;
  height: 2rem;
  margin-left: 3.75rem;
  margin-top: 0.15rem;
  margin-bottom: 0.2rem;
  background-color: none;
  border-radius: 0.5rem 0.2rem 1rem;
}
#js {
  width: 1.5rem;
  height: 2rem;
  margin-left: 0.8rem;
  margin-top: 0.25rem;
  margin-bottom: 0.2rem;
  background-color: none;
  border-radius: 0.5rem 0.2rem 1rem;
}
.cat-label {
  font-weight: bold;
}

.button1 {
  background-color: #86cae1;
  border-radius: 2rem;

  padding: 0.5rem;
  cursor: pointer;
}
.button2 {
  background-color: #8bfe08;

  border-radius: 2rem;

  padding: 0.5rem;
  cursor: pointer;
} /* Blue */

.button3 {
  background-color: #008cba;
  border-radius: 2rem;

  padding: 0.5rem;
  cursor: pointer;
}

#typing-text {
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #000;
}

/* CSS Version 0
html {
  height: 100vh;

  background-image: url("img/dragonHackerC.png.jpg");
  background-size: cover;
}

html::after {
  height: 100vh;

  background-color: #45a049;
  background-size: cover;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;

  margin-top: 1%;
  @media screen {
    max-width: 1920px;
  }
  min-width: 220px;

  background-repeat: no-repeat;
}

#flashcard-container {
  text-align: center;
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: -1%;
  position: sticky;
  background-color: none;
}

#flashcard {
  background-color: none;

  padding: 20px;
  margin-bottom: 5%;
  position: sticky;
}
#answer {
  font-weight: bold;
  margin-top: 3%;
  margin-bottom: -2%;
}
#question {
  margin-top: 3%;
  margin-bottom: -2%;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 3%;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
}

button:hover {
  background-color: #45a049;
}
input[type="checkbox"] {
  height: 100px;
  width: 100px;
  -webkit-appearance: none;
  box-shadow: -10px -10px 15px rgb(255, 255, 255, 0.5),
    10px 10px 15px rgb(70, 70, 70, 0.12);
  position: fixed;
  transform: translate(15%, -50%);
  top: 80%;
  left: 35%;
  margin-inline-start: 8%;
  margin-inline-end: 5%;
  border-radius: 50%;
  border: 3px solid #325;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

input[type="checkbox"]:after {
  font-family: FontAwesome;
  content: "\f011";
  color: #a7a7a7;
  font-size: 70px;
}
input[type="checkbox"]:checked {
  box-shadow: -10px -10px 15px rgb(255, 255, 255, 0.5),
    10px 10px 15px rgb(70, 70, 70, 0.12),
    inset -10px -10px 15px rgb(255, 255, 255, 0.5),
    inset 10px 10px 15px rgb(70, 70, 70, 0.12);
}
input[type="checkbox"]:checked:after {
  color: #15e38a;
}
*/
