/* Display Mode and Color Scheme */
@media (display-mode: picture-in-picture) and (prefers-color-scheme: light) {
  body {
    background: antiquewhite;
  }
}

@media (display-mode: picture-in-picture) and (prefers-color-scheme: dark) {
  body {
    background: #333;
  }

  a {
    color: antiquewhite;
  }
}

/*      SPEECH BUBBLE       */
.speech-bubble {
  filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.1))
    drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.15));
  margin: 1rem;
  margin-bottom: 40px;
  padding: 0.5rem 1rem;
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  background: #1562e617;
  color: white;
  display: flex;
  width: 50%;
  display: none;
  border-radius: 2rem;
  min-width: 430px;
  max-width: 450px;
  max-height: 200px;
}
.speech-bubble::before {
  border: 12.5px solid transparent;
  border-top: 12.5px solid hsla(218, 49%, 70%, 0.121);

  border-bottom: 0;
  height: 0;
  width: 0;
  border-top-width: 25px;
  content: "";
  display: block;
  position: absolute;
  left: 3rem;
  bottom: -25px;
  transform-origin: center;
  transform: rotate(90deg) skew(-25deg) translateY(16.6666666667px);
}

.speech-bubble cite {
  position: absolute;
  bottom: -2rem;
  left: 4.5rem;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: rgb(165, 13, 13);
}

/*         FONTS         */
.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 1rem;
}
/*        HTML             */
html {
  height: 100vh;

  /* background-color: #f8fcf9; */
  background-color: #0a100b;

  border: none;
  border-style: none;
  min-width: 492px;
  max-width: 100%;
  overflow: none;
  z-index: -1;
}

/*            BODY           */
body {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  height: auto;
  max-width: auto;
  z-index: 1;
}
/*       MEDIA QUERIES       */

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    background-color: none;
    display: flex;
    justify-content: space-between;
    width: auto;
    max-height: 450px;
    border-radius: 1rem;
    padding-top: 0.5rem;
    z-index: 2;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: none;
    display: flex;
    justify-content: space-around;
    min-width: 400px;
  }
  .turtee-8-contain {
    display: none;
    z-index: -1;
  }
  #turtee-8 {
    display: none;
    grid-row: 3;
    grid-column: 1;
  }
  #turtee-explain {
    display: none;
  }
}

/*         KEYFRANE          */
@keyframes fallAndBounce {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  30% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(15px);
  }
  70% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(7px);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

#welcome {
  max-height: 110px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  height: 5rem;
  text-align: center;
  font-size: 10rem;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 3rem;
  background: -webkit-linear-gradient(#ee0b0b, #e5c703);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: fallAndBounce 10s alternate-reverse;
}

div.instruct-init {
  /* background-color: white; */
  border-radius: 2rem 0;
}
/* .init-span {
  background: -webkit-linear-gradient(#150101, #e57403);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.start-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 18rem;
  background-color: none;
  min-width: 360px;
  font-size: xx-large;
  color: rgb(165, 13, 13);
}

section#category-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 120px;

  padding: 1rem;
}
#dragonHackerImage {
  display: flex;
  flex-direction: column;

  width: 100rem;
  max-height: 14rem;
  border-radius: 2.5rem 1rem;
}

#dragonHackerButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  justify-content: center;
  background-color: red;
  border: solid black;
  max-height: 20rem;
  border-radius: 3rem 1rem;
  cursor: pointer;
  padding: 0.75rem;
}

#category-selection {
  display: block;
  width: 80%;
}
/* #category-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

.flex-center-data {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin-left: 5rem;
  overflow-y: hidden;
}
.turtee-8-contain {
  display: flex;
}
#turtee-8 {
  display: none;
}
#turtee-explain {
  display: flex;
  /* grid-template-columns: repeat(2, 1.5fr);
  grid-template-rows: repeat(2, 1fr); */

  /* margin-bottom: 2rem; */

  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  margin-top: -5rem;
  margin-bottom: 0;
}

/* .container-content {
  display: none;
  
  grid-template-columns: repeat(4, 1.5fr);
  grid-template-rows: repeat(3, 1fr);
} */
s .turtee-global {
  grid-row-start: auto;
  grid-column-end: auto;
}
#pre-footer-id {
  display: none;
}

#flashcard-container {
  display: none;
  z-index: 1;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  top: auto;
  min-width: 65%;
  width: 85%;
  background-color: #f40b0bfc;
  position: relative;
  box-shadow: 0.5rem 1rem 2rem 0.5rem rgba(0, 0, 0, 0.99);
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 0.25rem 0.25rem;
  margin-left: auto;
  margin-right: auto;
  color: #edf5ea;
}

button#answer-button {
  display: flex;
  justify-content: center;
  padding: 0.25rem 2rem;
  background-color: rgb(24, 162, 225);
  border-radius: 1rem;
  border-style: none;
  font-weight: bold;
  width: 8rem;
  margin: 0.1rem 0 0.25rem 1rem;

  z-index: 1;
  cursor: pointer;
}

button#answer-button:hover {
  display: flex;
  justify-content: center;
  padding: 0.2rem 0;
  background-color: #8b0000;
  border-radius: 1rem;
  border-style: none;
  font-weight: bold;
  width: 8rem;
  margin: 0.3em;
  z-index: 1;
  cursor: pointer;
}

svg#html5 {
  background-color: rgb(242, 255, 0);
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border: solid;
}
#html5:hover {
  background-color: rgb(12, 228, 236);
}

svg#css {
  background-color: rgb(255, 136, 0);
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border: solid;
  border-radius: 12% 10% 15% 5%;
}
#css:hover {
  background-color: rgb(12, 228, 236);
}

svg#js {
  background-color: rgb(77, 255, 0);
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border: solid;
  border-radius: 12% 10% 15% 5%;
}
#js:hover {
  background-color: rgb(12, 228, 236);
}

#h2-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

  width: 100%;
}
#p-tag {
  display: none;
  text-align: center;
}

#navigation {
  display: none;
  justify-content: space-between;
  flex-direction: row;

  align-items: flex-end;
  inline-size: none;
  background-color: none;
  max-width: 90%;
  padding-top: 0.5rem;
  margin-right: 8rem;
  margin-left: 2.5rem;
}
#html5 {
  width: 1.5rem;
  height: 2rem;

  background-color: none;
  border-radius: 0.5rem 0.2rem 1rem;
}
#css3 {
  width: 1.5rem;
  height: 2rem;
  background-color: none;
  border-radius: 0.5rem 0.2rem 1rem;
}
#js {
  width: 1.5rem;
  height: 2rem;

  background-color: none;
  border-radius: 0.5rem 0.2rem 1rem;
}
.cat-label {
  font-weight: bold;
}

image.logo-svg {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  min-width: 380px;
  height: 100%;
  background-color: none;
}
svg#logo-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
  max-width: 5rem;
  max-height: 5rem;
  background-color: none;
  border-radius: 10%;
  visibility: hidden;
}
#welcome {
  z-index: 0;
}
.button1 {
  width: 110%;
  background-color: #86cae1;
  border-radius: 2rem;

  padding: 1.5%;
  cursor: pointer;

  width: 80%;
}

.button3 {
  display: flex;
  justify-content: space-around;
  background-color: #e5c703;
  padding: 0.5rem;
  cursor: pointer;
  max-width: 3rem;
  min-width: 2.5rem;
  border-radius: 5rem;
}

.pushable {
  background: hsl(340, 82%, 53%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.pushable:hover .front {
  background-color: #1dafe4;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: #8b0000;
  /* background: hsl(345deg 100% 47%); */
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

button#reset {
  display: flex;
  justify-content: center;
  padding: 0.2rem 0;

  border-radius: 1rem;
  border-style: none;
  font-weight: bold;
  width: 8rem;
  margin: 0.3;
  z-index: 1;
  cursor: pointer;
}
#reset:hover #front {
  background-color: #fa04040c;
}

#reset {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
#front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

#reset:active #front {
  transform: translateY(-2px);
}

footer {
  display: flex;

  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-style: italic;
  font-weight: lighter;

  width: 98%;
  max-height: auto;
  min-width: 96%;
  position: fixed;
  bottom: 1px;

  background-color: none;
  color: #2705c0;
  margin-left: 0;
  margin-right: 0;

  padding: 0.9rem 3rem 0.9rem 2.8rem;
  min-width: 250px;
  /* margin-left: 5rem; */
  overflow: hidden;
}
div.copy-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2rem;
}
.container-content {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 18rem;
  background-color: none;
  min-width: 430px;
  font-size: xx-large;
  color: #4ca425;
  max-width: 20rem;
}
.speech-bubble-container {
  max-width: auto;
  max-height: auto;
  display: flex;
  z-index: -1;
  position: absolute;
}

.top-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
#code-box {
  background-color: #bf5912;
  color: #eef9ea;
  width: 25rem;
  height: 18rem;
  position: fixed;
  left: 22rem;
  top: 1rem;
  border-radius: 1.5rem;
}
#turtee-7 {
  position: fixed;
  left: 15.5rem;
  top: 22%;
  z-index: 2;
}
iframe {
  width: 50%;
  height: 200px;
  border: 2.5px solid #f40b0bfc;
  position: fixed;
  top: 16.5rem;
  background-color: #f7d05a;
  padding: 0.1rem 0 0 0.1rem;
  border-radius: 1.5rem;
  z-index: -1;
}

#run-button {
  width: 15%;
  position: fixed;
  top: 68%;
  left: 32.5rem;
}
.run-button {
  color: #fcf9f9;
  background-color: #459e26;
}
/* background-color:#f40b0bfc; */
